.author-picture img{
    width: 100%;
    height: 45vh;
    position: relative;
}

.author-data{
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.author-data img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.author-details{
    margin-left: -460px;
    align-self: center;
}
.author-details button{
    align-self: self-start;
    border: none;
    border-radius: 3px;
    background-color: #c0bebe;
}
.author-details p{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    color: #727272;
    position: relative;
}
.author-follow button{
    border: none;
    border-radius: 8px;
    background-color: blueviolet;
    color: white;
    padding: 6px 40px;
    margin-left: 12px;
}

.author-buttons button{
    margin: 9px;
    border-radius: 5px;
    background-color: #dddbdb;
    color: blueviolet;
    font-weight: 600;
    border: none;
    padding: 8px 15px;
}
.author-buttons button:active{
    background-color: blueviolet;
    color: white;
}
@media screen and (max-width: 1024px) {
    .author-details{
        margin-left: -330px;
    }
}

@media screen and (max-width: 768px) {
    .author-details{
        margin-left: -80px;
    }
}
@media screen and (max-width: 425px) {
    .author-data{
        display: inline;
    }
    .author-details{
        margin-left: 10px;
    }
    .author-follow{
        display: flex;
        justify-content: space-between;
    }
}